.navbar {
  background-color: #000;
}
.bottom-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  height: 100px;
}
.logo {
  height: 30px;
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 100% 100%;
  color: #fff;
}
.jumbotron h1, .jumbotron p {
  font-weight: bold;
}
.section-heading {
  text-align: center;
  margin-bottom: 50px;
}
.card {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #ff5e5e;
  color: #fff;
}
.section {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.splash {
  background-image: url('./images/background-image.jpg');
  background-attachment: fixed;
}

#validParentheses {
  background-image: url('./images/validParentheses.jpg');
}

#longestCommonPrefix {
  background-image: url('./images/longest-prefix.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.algo-background {
  display: table;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 100% 100%;
  color: #fff;
}

.modal-style {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: start;
}