.navbar {
  background-color: #000;
}
.logo {
  height: 30px;
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 100% 100%;
  color: #fff;
}
.jumbotron h1, .jumbotron p {
  font-weight: bold;
}
.btn-primary {
  background-color: #ff5e5e;
  border-color: #ff5e5e;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #e14040;
  border-color: #e14040;
}
.section-heading {
  color: #ff5e5e;
  text-align: center;
  margin-bottom: 50px;
}
.card {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #ff5e5e;
  color: #fff;
}
.card-title {
  color: #fff;
}