/* reset CSS */
* {
  margin: 30;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url('../public/images/background-image.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
